@import "~bootstrap/scss/bootstrap";

#form_ajouter,#form_modifier{
  padding-right: 7% ;
  padding-left: 7%;
  margin-top: 15px;
}
#addUser,#param_add,#ref_add,#matAjout,#btn-csv,#lirecsv_btn,#cleanDB,#deploy_searc,#ajouter_mat,#listMate,#addMatCSV,#download_recap,#partir_inter{
  padding: 0 !important;
}
#print{
  padding: 0 5px !important;
}
#tabDonnee{
  width: 90%;
}
@media only screen and (min-width: 992px) {
  #matAjout,#addUser{
    padding: 0 !important;
    position: absolute;
    right: 0;
    top: 195px;
  }
  #btn-csv{
    right: 0 ;
    position: absolute;
    top: 216.5px;
    padding: 0 !important;
  }
  #lirecsv_btn{
    position: absolute;
    right: 0;
    top: 238px;
    padding: 0 !important;
  }
  #cleanDB{
    position: absolute;
    right: 0;
    top: 259.5px;
    padding: 0 !important;
  }
  #print{
    position: absolute;
    right: 0;
    top: 281px;
  }
  #deploy_search{
    margin-top: 7px;
    padding: 0 !important;
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 90%;
  }
}
#orRef{
  margin-left: 20px;
}
#retour_intervention,#depart_intervention,#encours_inter,#autre_inter{
  display: block;
  text-align: center;
  margin: 40px 25% 25px;
  padding-top: 35px;
  padding-bottom: 35px;
}
#validate_referent{
  display: block;
  text-align: center;
  margin-right: 35%;
  margin-left: 35%;
}
#affecter{
  position: absolute;
  margin-top: 10px;
}
@media only screen and (min-width: 730px ){
  #partir_inter{
    right: 0;
    position: absolute;
  }
}
#terminer_affectation{
  right: 0;
  position: absolute;
  margin-bottom: 5px;
}
#form_recherche{
  border: 1px black solid;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 7px;
  margin-bottom: 10px;
  margin-left: 5px;
  display: none;
}
#infoNum,#infoNom{
  margin-right: 15px;
}
#referent_search,#marque_search,#statut_search,#type_search,#lieu_search,#datepicker{
  margin-right: 10px;
  margin-left: 5px;
}
#search_button{
  margin-top: 5px;
  margin-right: 2%;
  margin-left: 2%;
}
#effacer_search{
  margin-top: 5px;
}
tr td{
  padding: 0 !important;
  font-size: 10px;
}
tr th{
  font-size: 11px;
  padding: 0 !important;
}
#editdelete{
  width:75px ;
}
#editdeleteMateriel{
  width: 84px;
}
#inter_menu{
  width: 150px;
}
#modal1{
  padding: 5px;
  margin: 0 auto;
}
#affect_table{
  border: 1px black solid;
  border-radius: 9px;
  margin: 5px auto auto;
}
#row_content_affect{
  border-right: black 1px solid;
}
#affect_table th{
  border: 1px black solid;
  background-color: dodgerblue;
}
#deleteMatInter,#updateMat,#deleteMat,#updateRef,#deleteRef,#param_button,#deleteUser,#updateUser{
  padding: 0 5px !important;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 4px;
  height: 15px;
}
@media only screen and (min-width: 524px) {
  #accueil_depart{
    padding: 8% 18%;
  }
  #accueil_retour{
    padding: 8% 18.4%;
  }
  #accueil_stock{
    padding: 15% 30%;
  }
}
#accueil_text{
  color: white;
}
#helpmots{
  width: 218px;
}
#historique_det{
  padding: 0 !important;
}
#cloturerButton,#apercu_inter,#rendre_matos{
  margin: 5px 7px;
  padding: 0 5px !important;
}
#sign_in{
  margin-top: 10px;
}
#form_login{
  color: white;
}
#inputUsername,#inputPassword{
  width: 360px;
}
@media only screen and (min-width: 826px){
  #sign_in{
    margin-left: 14%;
  }
  #form_login{
    margin: 0 30%;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-toggler{
    display: none;
  }
  #image_site{
    margin-right: auto;
    margin-left: auto;
  }
}
#menuOpen,#accueil_button,#print_icon {
  font-size: 24px;
}
.bottom{
  display: block;
  text-align: right;
  font-size: 10px;
}
#correct,#incorrect{
  font-size: 16px;
}
