{% extends "base.html.twig" %}

{% block title %}
	Ajout d'un type
{% endblock %}

{% block body %}

	{{ form_start(form) }}

	{{ form_widget(form) }}

	<button type="submit" class="btn btn-primary">
		<i class="fas fa-check hvr-icon"></i>
		Ajouter
	</button>
	{{ form_end(form) }}


{% endblock %}
