{% extends "base.html.twig" %}
{% block body %}
    <div class="well">
        {% if edit == 2 %}
        <a href="{{ path('Intervention.edit',{id : id}) }}" class="btn btn-danger">Annuler</a>
        {% else %}
        <a href="{{ path('Intervention.add',{id : id, retour : edit}) }}" class="btn btn-danger">Annuler</a>
        {% endif %}
        <h1>Attention</h1>
        <h2>Si vous rajoutez de nouveau matériel via cette méthode veillez à :</h2>
        <p>-Eviter les fautes d'orthographe sur toutes les données</p>
        <p>-Ne pas avoir de ligne vide</p>
        <small>Les modèles de CSV se trouvent dans /public/csv</small>
        <br>
        <small>Ce texte est modifiable dans /templates/intervention/addCsv.html.twig</small>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="csvFile">
            <a href="{{ path('Materiel.downloadModel') }}" class="btn btn-primary">Télécharger le modèle de CSV</a>
            <input type="submit" name="envoyer" value="Mettre à jour" class="btn btn-warning">
        </form>
    </div>

{% endblock %}