{% extends "base.html.twig" %}
{% block body %}
    <a href="{{ path('Intervention.depart') }}" class="btn-primary btn-lg" id="depart_intervention">Depart en intervention</a>
    <a href="{{ path('Intervention.retour') }}" class="btn-primary btn-lg" id="retour_intervention">Retour d'intervention</a>
{% endblock %}