<!DOCTYPE html>
<html lan="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			Gestion de Stock -
			{% block title %}{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.26.0/slimselect.min.css" rel="stylesheet"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> {% block stylesheets %}{% endblock %}

		</head>
		<body>

			{% block header %}
			
				{% if app.user %}
					{% if  app.user.roles | length > 1 %}

						{% include "admin/partials/header.html.twig" %}
					{% else %}
						{% include "partials/header.html.twig" %}
					{% endif %}
				{% endif %}

			{% endblock %}

			{% block body %}{% endblock %}
			{% block javascripts %}
				<script>
					$('.collapse').collapse();

					$('.dropdown-toggle').dropdown();
				</script>

				<script src="../../../library/jSBarcode.all.js"></script>
				<script src="../../../library/jQuery.js"></script>
				<script src="../../../library/jQueryUI.js"></script>
				<script src="../../../library/jquery.textcomplete.js"></script>
				<script src="{{ asset('build/js/app.js') }}"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.26.0/slimselect.min.js"></script>
				<script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
				<script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
				<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
				<script src="{{ asset('build/js/app.js') }}"></script>
			{% endblock %}
		</body>
	</html>
